<div layout-padding layout="column" layout-align="center center" class="map-page">

  <div class="map-container">

    <div id="map-heading">

      <h1>{{flowName}} Map</h1>

      <div id="save-map">
        <mdl-button mdl-button-type="raised" mdl-colored="primary" mdl-ripple (click)="saveMap()">Save Map</mdl-button>
        <mdl-button mdl-button-type="raised" mdl-colored mdl-ripple (click)="cancelMap()">Cancel</mdl-button>
      </div>

    </div>

    <!-- Filter menu for narrowing menu properties -->
    <!-- <div>
      <mdl-select
        label="Types to show"
        floating-label
        [(ngModel)]="filterSelected"
        (blur)="handleFilter($event)"
      >
        <mdl-option *ngFor="let f of filterMenu" [value]="f">{{f}}</mdl-option>
      </mdl-select>
    </div> -->

    <div id="source">
      <div id="src-heading" #srcheading>
        <h4 class="item-type">Source</h4>
        <p class="item-identifying-info">{{ sampleDoc?.uri }}</p>
      </div>

      <div *ngIf="chosenEntity">
        <div *ngFor="let prop of chosenEntity?.definition.properties; let i = index;" class="prop-container">

          <mdl-select
            #autocompleteSelect 
            label="Select..."
            [autocomplete]="true"
            [(ngModel)]="conns[prop.name]"
          >
            <mdl-option *ngFor="let prop of getProps() | matchSorter:'name':autocompleteSelect.searchQuery" [value]="prop.name">
              <span class="prop-name">{{prop.name}}</span> <span class="prop-val" title="{{type}}">{{ prop.type === "string" ? '"' : '' }}{{ prop.val | slice:0:valMaxLen }}{{ prop.val.length > valMaxLen ? '...' : '' }}{{ prop.type === "string" ? '"' : '' }}</span>
            </mdl-option>
          </mdl-select>

        </div><!-- ngFor -->
      </div><!-- ngIf -->

    </div><!-- source -->

    <div id="harmonized">
      <div id="harm-heading">
        <h4 class="item-type">Model</h4>
        <p class="item-identifying-info">{{ chosenEntity?.info.title }}</p>
      </div>

      <div *ngFor="let prop of chosenEntity?.definition.properties; let i = index;">

        <div class="prop-container" d>
          <span class="prop-name">{{prop.name}}</span><span class="prop-type">{{prop.datatype}}</span><span class="is-primary" *ngIf="prop.name === entityPrimaryKey"><i class="fa fa-key"></i></span>
        </div>

      </div><!-- ngFor -->
    </div><!-- harmonized -->

  </div><!-- map-container -->

</div><!-- layout-padding -->
