<div layout-padding layout="column" layout-align="center center" class="map-page">

  <div class="map-container">

    <!-- SVG-based lines for property connections -->
    <svg id="lines" height="972" width="1200">
      <line *ngFor="let line of connections" class="line"
        [attr.x1]="line.x1"
        [attr.y1]="line.y1"
        [attr.x2]="line.x2"
        [attr.y2]="line.y2"
        [attr.stroke]="line.stroke"
        style="stroke-width:2"
      />
    </svg>

    <div id="source">
      <div id="src-heading" #srcheading>
        <h4 class="item-type">Source Document</h4>
        <p class="item-identifying-info">{{ sampleDoc?.uri }}</p>
      </div>
      <div *ngFor="let prop of sampleDocSrcProps; let i = index;">
        <div class="prop-container"
             on-click="handleClick(prop.key, 'src')"
             on-mouseover="handleMouseover(prop.key, 'src')"
             on-mouseout="handleMouseout(prop.key, 'src')"
             [class.selected]="prop.selected"
             [class.connected]="prop.connected"
             [class.hovering]="prop.hovering"
             #mapproperty>
          <span class="prop-name">{{prop.key}}</span>
          <span class="prop-val" title="{{type}}">{{ prop.type === "string" ? '"' : '' }}{{ prop.val | slice:0:valMaxLen }}{{ prop.val.length > valMaxLen ? '...' : '' }}{{ prop.type === "string" ? '"' : '' }}</span>
        </div>
      </div>
    </div>

    <div id="harmonized">
      <div id="harm-heading" #harmheading>
        <h4 class="item-type">Harmonized Model</h4>
        <p class="item-identifying-info">{{ chosenEntity?.info.title }}</p>
      </div>
      <div *ngFor="let prop of chosenEntity?.definition.properties; let i = index;">
        <div class="prop-container"
             on-click="handleClick(prop.name, 'harm')"
             on-mouseover="handleMouseover(prop.name, 'harm')"
             on-mouseout="handleMouseout(prop.name, 'harm')"
             [class.selected]="prop.selected"
             [class.connected]="prop.connected"
             [class.hovering]="prop.hovering"
             #mapproperty>
          <span class="prop-name">{{prop.name}}</span><span class="prop-type">{{prop.datatype}}</span><span class="is-primary" *ngIf="prop.name === entityPrimaryKey"><i class="fa fa-key"></i></span>
        </div>
      </div>
    </div>

  </div>

</div>
