.ant-tabs .ant-tabs-content {
    margin-top: 30px;
}

.ant-tabs-top-bar {
    width: 190px;
    margin-left: 430px;
}

#basicTooltip {
    max-width: 100%;
    font-size: 10px;
  }

#advTooltip {
    max-width: 100%;
    font-size: 10px;
  }